In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.sparse
pd.set_option("display.max_columns",101)
RANDOM_STATE = 42

In [2]:
DATA_PATH = "../data/instacart/"
orders = pd.read_csv(DATA_PATH + "orders.csv")
products = pd.read_csv(DATA_PATH + "products.csv")
aisles = pd.read_csv(DATA_PATH + "aisles.csv")
departments = pd.read_csv(DATA_PATH + "departments.csv")
prior = pd.read_csv(DATA_PATH + "order_products__prior.csv")

In [3]:
train = pd.read_csv(DATA_PATH + "order_products__train.csv")

#### Build Datasets

In [4]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [5]:
departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [6]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [8]:
(orders.eval_set == 'train').value_counts()

False    3289874
True      131209
Name: eval_set, dtype: int64

In [9]:
(orders.eval_set == 'test').value_counts()

False    3346083
True       75000
Name: eval_set, dtype: int64

#### Use prior as train set, and train set as cv set, online data as test set

In [10]:
orders.loc[orders.eval_set == 'test']

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0
152,2161313,15,test,23,1,9,7.0
159,1416320,16,test,7,0,13,7.0
217,1735923,19,test,10,6,17,8.0
222,1980631,20,test,5,1,11,30.0
272,139655,22,test,16,5,6,1.0
300,1411408,25,test,4,0,15,30.0
313,2940603,26,test,13,5,14,8.0
420,1192143,28,test,25,1,16,8.0
469,280888,31,test,21,4,9,18.0
475,3202221,32,test,6,1,13,30.0
479,3222866,33,test,4,6,17,19.0
495,707453,35,test,10,4,15,21.0
533,1320132,36,test,38,0,8,3.0
578,882556,39,test,8,6,13,7.0
588,2431024,40,test,10,0,8,7.0
632,2827745,45,test,5,5,10,3.0
750,2174416,51,test,4,0,14,16.0
860,1325316,54,test,78,2,23,1.0
896,320326,57,test,15,0,7,8.0
912,2128599,58,test,16,4,12,7.0
932,1099519,60,test,9,4,22,30.0
937,144494,61,test,5,4,10,17.0
1053,3024191,68,test,7,2,15,30.0
1059,2817181,69,test,6,2,11,7.0
1118,2883656,73,test,8,6,18,30.0
...,...,...,...,...,...,...,...
3419718,1968103,206122,test,4,6,15,11.0
3419860,3094655,206127,test,6,3,12,30.0
3419911,2964171,206131,test,13,1,15,13.0
3419930,1522572,206135,test,4,1,16,21.0
3419961,544857,206138,test,15,0,9,7.0
3419996,1421496,206142,test,15,1,8,21.0
3420007,765758,206143,test,11,4,3,26.0
3420034,1772796,206147,test,5,5,22,25.0
3420152,3177219,206152,test,35,0,9,16.0
3420293,2380361,206160,test,11,5,15,24.0
3420309,928262,206161,test,16,0,12,7.0
3420334,1722401,206163,test,6,5,21,30.0
3420388,1945444,206166,test,20,5,18,2.0
3420406,2000023,206168,test,13,2,14,8.0
3420440,3151043,206173,test,4,0,13,9.0
3420547,2900626,206179,test,4,2,12,30.0
3420566,2633505,206180,test,19,0,13,7.0
3420592,1836967,206182,test,11,0,10,20.0
3420607,2799087,206183,test,15,0,13,29.0
3420662,2762353,206187,test,35,0,0,20.0
3420677,959487,206189,test,7,2,20,9.0
3420707,701105,206192,test,15,6,19,4.0
3420761,64567,206194,test,12,4,0,6.0
3420810,1564541,206197,test,24,0,14,30.0
3420895,309211,206201,test,33,0,12,11.0
3420918,2728930,206202,test,23,2,17,6.0
3420929,350108,206204,test,5,4,14,14.0
3421001,1043943,206206,test,68,0,20,0.0
3421018,2821651,206207,test,17,2,13,14.0
3421068,803273,206208,test,50,5,11,4.0

#### Build Feature： Use prior to build User\Item\Interactive feature
train build (user-item) True or False Matrix

#### Merge Train and order to build (user_item_model) information

In [4]:
train_order_product = pd.merge(train, orders, on='order_id')

In [12]:
train_order_product.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0
3,1,49683,4,0,112108,train,4,4,10,9.0
4,1,43633,5,1,112108,train,4,4,10,9.0

In [13]:
train_order_product.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1384617 entries, 0 to 1384616
Data columns (total 10 columns):
order_id                  1384617 non-null int64
product_id                1384617 non-null int64
add_to_cart_order         1384617 non-null int64
reordered                 1384617 non-null int64
user_id                   1384617 non-null int64
eval_set                  1384617 non-null object
order_number              1384617 non-null int64
order_dow                 1384617 non-null int64
order_hour_of_day         1384617 non-null int64
days_since_prior_order    1384617 non-null float64
dtypes: float64(1), int64(8), object(1)
memory usage: 116.2+ MB

#### User feature

In [14]:
prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [15]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [5]:
user_order_cnt = pd.DataFrame(orders.loc[orders.eval_set == 'prior'].groupby('user_id')['order_id'].count())

In [17]:
user_order_cnt.head()

         order_id
user_id
1              10
2              14
3              12
4               5
5               4

In [58]:
user_order_cnt.order_id.ix[1]

10

In [6]:
user_order_dow_cnt = pd.DataFrame(orders.loc[orders.eval_set == 'prior'].groupby(['user_id', 'order_dow'])['order_id'].count())

In [7]:
user_hour_cnt = pd.DataFrame(orders.loc[orders.eval_set == 'prior'].groupby(['user_id', 'order_hour_of_day'])['order_id'].count())

In [8]:
user_days_pass_cnt = pd.DataFrame(orders.loc[orders.eval_set == 'prior'].groupby('user_id').agg({'days_since_prior_order': np.mean}))

#### Item Feature

In [22]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [23]:
prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
item_reorder_cnt = pd.DataFrame(prior.groupby('product_id').agg({'reordered': np.sum}))

In [25]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [20]:
new_products = products.set_index(products['product_id'])

In [27]:
new_products.ix[1]

product_id                                1
product_name     Chocolate Sandwich Cookies
aisle_id                                 61
department_id                            19
Name: 1, dtype: object

#### Item_User

In [21]:
prior_order = pd.merge(prior, orders, on='order_id')

In [29]:
prior_order.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [22]:
item_order_dow_cnt = pd.DataFrame(prior_order.groupby(['product_id', 'order_dow'])['order_id'].count())

In [23]:
item_hour_cnt = pd.DataFrame(prior_order.groupby(['product_id', 'order_hour_of_day'])['order_id'].count())

In [24]:
item_day_pass_cnt = pd.DataFrame(prior_order.groupby('product_id').agg({'days_since_prior_order': np.mean}))

In [25]:
item_user_reordered = pd.DataFrame(prior_order.groupby(['user_id', 'product_id']).agg({'reordered': np.sum}))

In [26]:
item_user_day_pass = pd.DataFrame(prior_order.groupby(['user_id', 'product_id']).agg({'days_since_prior_order': np.mean}))

#### Feature Matrix

In [35]:
train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [36]:
train.shape

(1384617, 4)

In [37]:
item_user_reordered.head()

                    reordered
user_id product_id
1       196                 9
        10258               8
        10326               0
        12427               9
        13032               2

In [38]:
item_user_reordered.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 13307953 entries, (1, 196) to (206209, 48742)
Data columns (total 1 columns):
reordered    int64
dtypes: int64(1)
memory usage: 205.0+ MB

In [39]:
import time
a = time.time()
item_user_reordered.ix[(1, 196)]
b = time.time()

#### Calculate toplist：物品被reordered次数最多的产品

In [40]:
top_200 = pd.DataFrame(prior.groupby('product_id').agg({'reordered': np.sum}).sort_values(['reordered'], ascending=False)).head(200)

In [41]:
top_item_list = list(top_200.index)

In [27]:
train_order_list = pd.merge(train, orders, on='order_id')

In [43]:
train_order_list.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0
3,1,49683,4,0,112108,train,4,4,10,9.0
4,1,43633,5,1,112108,train,4,4,10,9.0

In [28]:
n_feature = 15 + 6 + 23 + 6 + 23

In [45]:
data = np.zeros((train.shape[0], n_feature))

In [46]:
data.shape

(1384617, 73)

In [47]:
import time
a = time.time()
xx = user_days_pass_cnt.days_since_prior_order.ix
b = time.time()
print xx[1]
c = time.time()
print b - a, c - b

19.5555555556
0.000392198562622 0.0150158405304

In [48]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [49]:
user_order_dow_cnt.order_id.ix[(1, 1)]

3

In [50]:
user_hour_cnt.head()

                           order_id
user_id order_hour_of_day
1       7                         3
        8                         2
        9                         1
        12                        1
        14                        1

In [29]:
train_ix = train_order_list.ix
orders_ix = orders.ix
# user_feature
user_day_pass_cnt_idx = user_days_pass_cnt.to_dict()['days_since_prior_order']
user_order_cnt_idx = user_order_cnt.to_dict()['order_id']
user_order_dow_cnt_idx = user_order_dow_cnt.to_dict()['order_id']
user_hour_cnt_idx = user_hour_cnt.to_dict()['order_id']

# item feature
new_product_idx = new_products.to_dict()    # return a list
item_reorder_cnt_idx = item_reorder_cnt.to_dict()['reordered']
item_order_dow_cnt_idx = item_order_dow_cnt.to_dict()['order_id']
item_hour_cnt_idx = item_hour_cnt.to_dict()['order_id']
item_day_pass_cnt_idx = item_day_pass_cnt.to_dict()['days_since_prior_order']

# interactive feature
item_user_reordered_idx = item_user_reordered.reordered.ix
item_user_day_pass_idx = item_user_day_pass.days_since_prior_order.ix

In [56]:
import time
a1 = time.time()
for idx in xrange(data.shape[0]):
    try:
        if (idx + 1) % 10000 == 0:
            print "finish:", 100 * float(idx) / data.shape[0]
            a2 = time.time()
            print "time_passed", int(a2 - a1)

        item = train_ix[idx]
        order_id = item['order_id']
        product_id = item['product_id']
        user_id = item['user_id']
        order_dow = item['order_dow']
        order_hour_of_day = item['order_hour_of_day']
        days_since_prior_order = item['days_since_prior_order']

        f_user_dow = [user_order_dow_cnt_idx.get((user_id, dow), 0) for dow in xrange(7)]
        f_user_hour = [user_hour_cnt_idx.get((user_id, hour), 0) for hour in xrange(24)]
        f_user_day_pass = user_day_pass_cnt_idx.get(user_id, 0)
        f_user_order_cnt = user_order_cnt_idx.get(user_id, 0)

        f_aisle = new_product_idx['aisle_id'][product_id]
        f_department = new_product_idx['department_id'][product_id]

        f_product_order_cnt = item_reorder_cnt_idx.get(product_id, 0)

        f_product_dow = [item_order_dow_cnt_idx.get((product_id, dow), 0) for dow in xrange(7)]
        f_product_hour = [item_hour_cnt_idx.get((product_id, hour), 0) for hour in xrange(24)]
        f_product_day_pass = item_day_pass_cnt_idx.get(product_id, 0)

        ax1 = time.time()
        product_id_list = item_user_reordered_idx[user_id].index
        f_item_user_reordered = item_user_reordered_idx[(user_id, product_id)] if product_id in product_id_list else 0
        product_id_list = item_user_day_pass_idx[user_id].index
        f_item_user_day_pass = item_user_day_pass_idx[(user_id, product_id)] if product_id in product_id_list else 0

        item_info = []
        item_info.append(f_user_day_pass)
        item_info.extend(f_user_dow)
        item_info.extend(f_user_hour)
        item_info.append(f_user_order_cnt)

        item_info.append(f_aisle)
        item_info.append(f_department)
        item_info.append(f_product_order_cnt)
        item_info.extend(f_product_dow)
        item_info.extend(f_product_hour)
        item_info.append(f_product_day_pass)

        item_info.append(f_item_user_reordered)
        item_info.append(f_item_user_day_pass)

        item_info.append(order_dow)
        item_info.append(order_hour_of_day)
        item_info.append(days_since_prior_order)

        data[idx] = item_info
    except:
        data[idx] = [0 for x in xrange(n_feature)]
        print "failed idx:", idx

failed idx: 6677
finish: 0.722149157493
time_passed 24
finish: 1.44437053712
time_passed 35
finish: 2.16659191675
time_passed 45
finish: 2.88881329638
time_passed 56
finish: 3.61103467602
time_passed 65
finish: 4.33325605565
time_passed 75
finish: 5.05547743528
time_passed 85
finish: 5.77769881491
time_passed 95
finish: 6.49992019454
time_passed 105
finish: 7.22214157417
time_passed 116
finish: 7.9443629538
time_passed 126
finish: 8.66658433343
time_passed 136
finish: 9.38880571306
time_passed 146
finish: 10.1110270927
time_passed 156
finish: 10.8332484723
time_passed 166
finish: 11.555469852
time_passed 176
finish: 12.2776912316
time_passed 186
failed idx: 171849
finish: 12.9999126112
time_passed 196
finish: 13.7221339908
time_passed 207
finish: 14.4443553705
time_passed 218
finish: 15.1665767501
time_passed 229
finish: 15.8887981297
time_passed 239
finish: 16.6110195094
time_passed 249
finish: 17.333240889
time_passed 259
finish: 18.0554622686
time_passed 269
finish: 18.7776836483
time_passed 278
finish: 19.4999050279
time_passed 289
finish: 20.2221264075
time_passed 298
finish: 20.9443477871
time_passed 309
finish: 21.6665691668
time_passed 319
finish: 22.3887905464
time_passed 329
finish: 23.111011926
time_passed 338
finish: 23.8332333057
time_passed 348
finish: 24.5554546853
time_passed 357
finish: 25.2776760649
time_passed 367
finish: 25.9998974446
time_passed 376
finish: 26.7221188242
time_passed 386
finish: 27.4443402038
time_passed 395
finish: 28.1665615835
time_passed 405
finish: 28.8887829631
time_passed 414
finish: 29.6110043427
time_passed 424
finish: 30.3332257223
time_passed 434
finish: 31.055447102
time_passed 443
finish: 31.7776684816
time_passed 453
finish: 32.4998898612
time_passed 462
finish: 33.2221112409
time_passed 472
finish: 33.9443326205
time_passed 482
finish: 34.6665540001
time_passed 492
finish: 35.3887753798
time_passed 502
finish: 36.1109967594
time_passed 512
finish: 36.833218139
time_passed 522
finish: 37.5554395187
time_passed 532
finish: 38.2776608983
time_passed 542
finish: 38.9998822779
time_passed 552
finish: 39.7221036575
time_passed 562
finish: 40.4443250372
time_passed 573
finish: 41.1665464168
time_passed 583
finish: 41.8887677964
time_passed 592
finish: 42.6109891761
time_passed 603
finish: 43.3332105557
time_passed 613
finish: 44.0554319353
time_passed 622
finish: 44.777653315
time_passed 632
finish: 45.4998746946
time_passed 642
finish: 46.2220960742
time_passed 653
finish: 46.9443174539
time_passed 664
finish: 47.6665388335
time_passed 674
finish: 48.3887602131
time_passed 685
finish: 49.1109815927
time_passed 695
finish: 49.8332029724
time_passed 705
finish: 50.555424352
time_passed 716
finish: 51.2776457316
time_passed 726
finish: 51.9998671113
time_passed 736
finish: 52.7220884909
time_passed 746
finish: 53.4443098705
time_passed 757
finish: 54.1665312502
time_passed 767
finish: 54.8887526298
time_passed 777
finish: 55.6109740094
time_passed 788
finish: 56.333195389
time_passed 798
finish: 57.0554167687
time_passed 808
finish: 57.7776381483
time_passed 818
finish: 58.4998595279
time_passed 828
finish: 59.2220809076
time_passed 838
finish: 59.9443022872
time_passed 849
finish: 60.6665236668
time_passed 858
finish: 61.3887450465
time_passed 869
finish: 62.1109664261
time_passed 879
finish: 62.8331878057
time_passed 889
finish: 63.5554091854
time_passed 899
finish: 64.277630565
time_passed 909
finish: 64.9998519446
time_passed 920
finish: 65.7220733242
time_passed 930
finish: 66.4442947039
time_passed 940
finish: 67.1665160835
time_passed 950
finish: 67.8887374631
time_passed 960
finish: 68.6109588428
time_passed 969
finish: 69.3331802224
time_passed 979
finish: 70.055401602
time_passed 988
finish: 70.7776229817
time_passed 998
finish: 71.4998443613
time_passed 1008
finish: 72.2220657409
time_passed 1017
finish: 72.9442871206
time_passed 1027
finish: 73.6665085002
time_passed 1037
finish: 74.3887298798
time_passed 1046
finish: 75.1109512594
time_passed 1056
finish: 75.8331726391
time_passed 1066
finish: 76.5553940187
time_passed 1075
finish: 77.2776153983
time_passed 1085
finish: 77.999836778
time_passed 1094
finish: 78.7220581576
time_passed 1104
finish: 79.4442795372
time_passed 1113
finish: 80.1665009169
time_passed 1123
finish: 80.8887222965
time_passed 1133
finish: 81.6109436761
time_passed 1142
finish: 82.3331650558
time_passed 1152
finish: 83.0553864354
time_passed 1161
finish: 83.777607815
time_passed 1171
finish: 84.4998291946
time_passed 1180
finish: 85.2220505743
time_passed 1190
finish: 85.9442719539
time_passed 1200
finish: 86.6664933335
time_passed 1209
finish: 87.3887147132
time_passed 1219
finish: 88.1109360928
time_passed 1228
finish: 88.8331574724
time_passed 1238
finish: 89.5553788521
time_passed 1248
finish: 90.2776002317
time_passed 1257
finish: 90.9998216113
time_passed 1267
finish: 91.7220429909
time_passed 1278
finish: 92.4442643706
time_passed 1287
finish: 93.1664857502
time_passed 1297
finish: 93.8887071298
time_passed 1307
finish: 94.6109285095
time_passed 1316
finish: 95.3331498891
time_passed 1326
finish: 96.0553712687
time_passed 1335
finish: 96.7775926484
time_passed 1345
finish: 97.499814028
time_passed 1355
finish: 98.2220354076
time_passed 1365
finish: 98.9442567873
time_passed 1376
finish: 99.6664781669
time_passed 1385

In [47]:
columns = []
columns.append('USER_DAY_PASS')
columns.extend(['USER_DOW_' + str(i) for i in xrange(7)])
columns.extend(['USER_HOUR_' + str(i) for i in xrange(24)])
columns.append('USER_ORDER_CNT')
columns.append('AISLE')
columns.append('DEPARTMENT')
columns.append('PRODUCT_ORDER_CNT')
columns.extend(['PRODUCT_DOW_' + str(i) for i in xrange(7)])
columns.extend(['PRODUCT_HOUR_' + str(i) for i in xrange(24)])
columns.append('PRODUCT_DAY_PASS')
columns.append('ITEM_USER_REOREDED')
columns.append('ITEM_USER_DAY_PASS')
columns.append("ORDER_DOW")
columns.append('ORDER_HOUR')
columns.append('DAY_SINCE_PRIOR_ORDER')

In [65]:
outfile = DATA_PATH + "user_item"
np.save(outfile, data)

In [67]:
new_data = np.load(outfile + ".npy")

In [69]:
new_data.shape

(1384617, 73)

In [72]:
positive_X = pd.DataFrame(data, columns=columns)

In [73]:
positive_X.head()

,USER_DAY_PASS,USER_DOW_0,USER_DOW_1,USER_DOW_2,USER_DOW_3,USER_DOW_4,USER_DOW_5,USER_DOW_6,USER_HOUR_0,USER_HOUR_1,USER_HOUR_2,USER_HOUR_3,USER_HOUR_4,USER_HOUR_5,USER_HOUR_6,USER_HOUR_7,USER_HOUR_8,USER_HOUR_9,USER_HOUR_10,USER_HOUR_11,USER_HOUR_12,USER_HOUR_13,USER_HOUR_14,USER_HOUR_15,USER_HOUR_16,USER_HOUR_17,USER_HOUR_18,USER_HOUR_19,USER_HOUR_20,USER_HOUR_21,USER_HOUR_22,USER_HOUR_23,USER_ORDER_CNT,AISLE,DEPARTMENT,PRODUCT_ORDER_CNT,PRODUCT_DOW_0,PRODUCT_DOW_1,PRODUCT_DOW_2,PRODUCT_DOW_3,PRODUCT_DOW_4,PRODUCT_DOW_5,PRODUCT_DOW_6,PRODUCT_HOUR_0,PRODUCT_HOUR_1,PRODUCT_HOUR_2,PRODUCT_HOUR_3,PRODUCT_HOUR_4,PRODUCT_HOUR_5,PRODUCT_HOUR_6,PRODUCT_HOUR_7,PRODUCT_HOUR_8,PRODUCT_HOUR_9,PRODUCT_HOUR_10,PRODUCT_HOUR_11,PRODUCT_HOUR_12,PRODUCT_HOUR_13,PRODUCT_HOUR_14,PRODUCT_HOUR_15,PRODUCT_HOUR_16,PRODUCT_HOUR_17,PRODUCT_HOUR_18,PRODUCT_HOUR_19,PRODUCT_HOUR_20,PRODUCT_HOUR_21,PRODUCT_HOUR_22,PRODUCT_HOUR_23,PRODUCT_DAY_PASS,ITEM_USER_REOREDED,ITEM_USER_DAY_PASS,ORDER_DOW,ORDER_HOUR,DAY_SINCE_PRIOR_ORDER
0,11.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,120.0,16.0,101.0,27.0,27.0,26.0,14.0,10.0,18.0,41.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,4.0,5.0,9.0,17.0,11.0,16.0,18.0,19.0,12.0,12.0,9.0,8.0,7.0,3.0,4.0,5.0,0.0,9.967320,1.0,7.0,4.0,10.0,9.0
1,11.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,108.0,16.0,3192.0,954.0,738.0,596.0,524.0,497.0,527.0,636.0,16.0,15.0,2.0,7.0,6.0,16.0,32.0,134.0,224.0,336.0,356.0,333.0,329.0,363.0,388.0,403.0,388.0,320.0,219.0,167.0,156.0,127.0,85.0,50.0,10.571665,1.0,7.0,4.0,10.0,9.0
2,11.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,83.0,4.0,12498.0,4970.0,4195.0,3011.0,2681.0,2548.0,2909.0,3512.0,202.0,94.0,49.0,38.0,45.0,63.0,208.0,640.0,1264.0,1731.0,2161.0,2148.0,2017.0,2095.0,2033.0,1917.0,1868.0,1390.0,1009.0,805.0,659.0,605.0,497.0,288.0,10.814744,0.0,0.0,4.0,10.0,9.0
3,11.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,83.0,4.0,67313.0,22054.0,17435.0,11953.0,10416.0,10165.0,11220.0,14072.0,729.0,378.0,193.0,141.0,167.0,305.0,924.0,2594.0,4797.0,6770.0,7821.0,8044.0,7962.0,8162.0,8155.0,7903.0,7933.0,6487.0,5067.0,3954.0,3059.0,2491.0,2051.0,1228.0,12.102385,0.0,0.0,4.0,10.0,9.0
4,11.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,95.0,15.0,312.0,113.0,94.0,80.0,96.0,72.0,86.0,112.0,7.0,5.0,1.0,1.0,2.0,1.0,5.0,9.0,29.0,47.0,42.0,51.0,39.0,55.0,53.0,54.0,55.0,55.0,37.0,36.0,26.0,11.0,14.0,18.0,11.946166,1.0,15.0,4.0,10.0,9.0

In [74]:
out_csv_file = DATA_PATH + "positive_X.csv"
positive_X.to_csv(out_csv_file)

#### Add Inverse Data

In [52]:
train_order_product_list = train_order_list.groupby('order_id')['product_id'].apply(list)

In [77]:
train_order_product_list.head()

order_id
1     [49302, 11109, 10246, 49683, 43633, 13176, 472...
36    [39612, 19660, 49235, 43086, 46620, 34497, 486...
38    [11913, 18159, 4461, 21616, 23622, 32433, 2884...
96    [20574, 30391, 40706, 25610, 27966, 24489, 39275]
98    [8859, 19731, 43654, 13176, 4357, 37664, 34065...
Name: product_id, dtype: object

#### 从top_item_list中

In [53]:
positive_order_item_list = train_order_product_list.to_dict()

In [54]:
false_data = np.zeros((train.shape[0], n_feature))

In [55]:
negative_order_item_list = {}

def find_new_negative_product_id(order_id, product_id, negative_order_item_list, positive_order_item_list, top_item_list):
    product_id = positive_order_item_list[order_id][0]
    import random
    
    cnt = 10
    while cnt > 0:
        new_product_id = random.choice(top_item_list)
        if new_product_id not in negative_order_item_list[order_id] and new_product_id not in positive_order_item_list[order_id]:
            product_id = new_product_id
            break
        
        cnt -= 1
    
    return product_id

import time
a1 = time.time()
for idx in xrange(false_data.shape[0]):
    try:
        if (idx + 1) % 10000 == 0:
            print "finish:", 100 * float(idx) / false_data.shape[0]
            a2 = time.time()
            print "time_passed", int(a2 - a1)

        item = train_ix[idx]
        order_id = item['order_id']
        
        product_id = item['product_id']
        negative_order_item_list.setdefault(order_id, [])
        product_id = find_new_negative_product_id(order_id, product_id, negative_order_item_list, positive_order_item_list, top_item_list)
        negative_order_item_list[order_id].append(product_id)
        user_id = item['user_id']
        order_dow = item['order_dow']
        order_hour_of_day = item['order_hour_of_day']
        days_since_prior_order = item['days_since_prior_order']

        f_user_dow = [user_order_dow_cnt_idx.get((user_id, dow), 0) for dow in xrange(7)]
        f_user_hour = [user_hour_cnt_idx.get((user_id, hour), 0) for hour in xrange(24)]
        f_user_day_pass = user_day_pass_cnt_idx.get(user_id, 0)
        f_user_order_cnt = user_order_cnt_idx.get(user_id, 0)

        f_aisle = new_product_idx['aisle_id'][product_id]
        f_department = new_product_idx['department_id'][product_id]

        f_product_order_cnt = item_reorder_cnt_idx.get(product_id, 0)

        f_product_dow = [item_order_dow_cnt_idx.get((product_id, dow), 0) for dow in xrange(7)]
        f_product_hour = [item_hour_cnt_idx.get((product_id, hour), 0) for hour in xrange(24)]
        f_product_day_pass = item_day_pass_cnt_idx.get(product_id, 0)

        ax1 = time.time()
        product_id_list = item_user_reordered_idx[user_id].index
        f_item_user_reordered = item_user_reordered_idx[(user_id, product_id)] if product_id in product_id_list else 0
        product_id_list = item_user_day_pass_idx[user_id].index
        f_item_user_day_pass = item_user_day_pass_idx[(user_id, product_id)] if product_id in product_id_list else 0

        item_info = []
        item_info.append(f_user_day_pass)
        item_info.extend(f_user_dow)
        item_info.extend(f_user_hour)
        item_info.append(f_user_order_cnt)

        item_info.append(f_aisle)
        item_info.append(f_department)
        item_info.append(f_product_order_cnt)
        item_info.extend(f_product_dow)
        item_info.extend(f_product_hour)
        item_info.append(f_product_day_pass)

        item_info.append(f_item_user_reordered)
        item_info.append(f_item_user_day_pass)

        item_info.append(order_dow)
        item_info.append(order_hour_of_day)
        item_info.append(days_since_prior_order)

        false_data[idx] = item_info
    except:
        false_data[idx] = [0 for x in xrange(n_feature)]
        print "failed idx:", idx
        import traceback
        traceback.print_exc()

finish: 0.722149157493
time_passed 22
finish: 1.44437053712
time_passed 31
finish: 2.16659191675
time_passed 39
finish: 2.88881329638
time_passed 48
finish: 3.61103467602
time_passed 56
finish: 4.33325605565
time_passed 65
finish: 5.05547743528
time_passed 73
finish: 5.77769881491
time_passed 82
finish: 6.49992019454
time_passed 90
finish: 7.22214157417
time_passed 99
finish: 7.9443629538
time_passed 107
finish: 8.66658433343
time_passed 116
finish: 9.38880571306
time_passed 125
finish: 10.1110270927
time_passed 133
finish: 10.8332484723
time_passed 142
finish: 11.555469852
time_passed 151
finish: 12.2776912316
time_passed 160
finish: 12.9999126112
time_passed 169
finish: 13.7221339908
time_passed 179
finish: 14.4443553705
time_passed 188
finish: 15.1665767501
time_passed 198
finish: 15.8887981297
time_passed 207
finish: 16.6110195094
time_passed 216
finish: 17.333240889
time_passed 226
finish: 18.0554622686
time_passed 235
finish: 18.7776836483
time_passed 244
finish: 19.4999050279
time_passed 253
finish: 20.2221264075
time_passed 262
finish: 20.9443477871
time_passed 272
finish: 21.6665691668
time_passed 281
finish: 22.3887905464
time_passed 290
finish: 23.111011926
time_passed 299
finish: 23.8332333057
time_passed 308
finish: 24.5554546853
time_passed 317
finish: 25.2776760649
time_passed 326
finish: 25.9998974446
time_passed 335
finish: 26.7221188242
time_passed 344
finish: 27.4443402038
time_passed 353
finish: 28.1665615835
time_passed 361
finish: 28.8887829631
time_passed 370
finish: 29.6110043427
time_passed 379
finish: 30.3332257223
time_passed 387
finish: 31.055447102
time_passed 396
finish: 31.7776684816
time_passed 404
finish: 32.4998898612
time_passed 413
finish: 33.2221112409
time_passed 421
finish: 33.9443326205
time_passed 430
finish: 34.6665540001
time_passed 439
finish: 35.3887753798
time_passed 447
finish: 36.1109967594
time_passed 456
finish: 36.833218139
time_passed 464
finish: 37.5554395187
time_passed 473
finish: 38.2776608983
time_passed 481
finish: 38.9998822779
time_passed 490
finish: 39.7221036575
time_passed 498
finish: 40.4443250372
time_passed 507
finish: 41.1665464168
time_passed 515
finish: 41.8887677964
time_passed 524
finish: 42.6109891761
time_passed 533
finish: 43.3332105557
time_passed 541
finish: 44.0554319353
time_passed 550
finish: 44.777653315
time_passed 558
finish: 45.4998746946
time_passed 567
finish: 46.2220960742
time_passed 575
finish: 46.9443174539
time_passed 584
finish: 47.6665388335
time_passed 593
finish: 48.3887602131
time_passed 601
finish: 49.1109815927
time_passed 610
finish: 49.8332029724
time_passed 618
finish: 50.555424352
time_passed 627
finish: 51.2776457316
time_passed 636
finish: 51.9998671113
time_passed 644
finish: 52.7220884909
time_passed 653
finish: 53.4443098705
time_passed 661
finish: 54.1665312502
time_passed 670
finish: 54.8887526298
time_passed 678
finish: 55.6109740094
time_passed 687
finish: 56.333195389
time_passed 696
finish: 57.0554167687
time_passed 704
finish: 57.7776381483
time_passed 713
finish: 58.4998595279
time_passed 721
finish: 59.2220809076
time_passed 730
finish: 59.9443022872
time_passed 738
finish: 60.6665236668
time_passed 747
finish: 61.3887450465
time_passed 756
finish: 62.1109664261
time_passed 764
finish: 62.8331878057
time_passed 773
finish: 63.5554091854
time_passed 782
finish: 64.277630565
time_passed 791
finish: 64.9998519446
time_passed 799
finish: 65.7220733242
time_passed 808
finish: 66.4442947039
time_passed 817
finish: 67.1665160835
time_passed 825
finish: 67.8887374631
time_passed 834
finish: 68.6109588428
time_passed 842
finish: 69.3331802224
time_passed 851
finish: 70.055401602
time_passed 859
finish: 70.7776229817
time_passed 868
finish: 71.4998443613
time_passed 877
finish: 72.2220657409
time_passed 885
finish: 72.9442871206
time_passed 894
finish: 73.6665085002
time_passed 902
finish: 74.3887298798
time_passed 911
finish: 75.1109512594
time_passed 919
finish: 75.8331726391
time_passed 928
finish: 76.5553940187
time_passed 937
finish: 77.2776153983
time_passed 945
finish: 77.999836778
time_passed 954
finish: 78.7220581576
time_passed 962
finish: 79.4442795372
time_passed 971
finish: 80.1665009169
time_passed 979
finish: 80.8887222965
time_passed 988
finish: 81.6109436761
time_passed 997
finish: 82.3331650558
time_passed 1005
finish: 83.0553864354
time_passed 1014
finish: 83.777607815
time_passed 1022
finish: 84.4998291946
time_passed 1031
finish: 85.2220505743
time_passed 1041
finish: 85.9442719539
time_passed 1050
finish: 86.6664933335
time_passed 1059
finish: 87.3887147132
time_passed 1069
finish: 88.1109360928
time_passed 1078
finish: 88.8331574724
time_passed 1087
finish: 89.5553788521
time_passed 1097
finish: 90.2776002317
time_passed 1105
finish: 90.9998216113
time_passed 1114
finish: 91.7220429909
time_passed 1122
finish: 92.4442643706
time_passed 1131
finish: 93.1664857502
time_passed 1139
finish: 93.8887071298
time_passed 1149
finish: 94.6109285095
time_passed 1157
finish: 95.3331498891
time_passed 1165
finish: 96.0553712687
time_passed 1174
finish: 96.7775926484
time_passed 1182
finish: 97.499814028
time_passed 1191
finish: 98.2220354076
time_passed 1200
finish: 98.9442567873
time_passed 1208
finish: 99.6664781669
time_passed 1216

In [58]:
#TODO: 将data替换为false_data
negative_X = pd.DataFrame(false_data, columns=columns)
negtive_out_csv_file = DATA_PATH + "nega`tive_X.csv"
negative_X.to_csv(negtive_out_csv_file)

In [30]:
test_order = orders.loc[orders.eval_set == 'test']

In [31]:
list(item_user_reordered_idx[1].index)

[196,
 10258,
 10326,
 12427,
 13032,
 13176,
 14084,
 17122,
 25133,
 26088,
 26405,
 30450,
 35951,
 38928,
 39657,
 41787,
 46149,
 49235]

In [32]:
test_user_id_list = np.unique(test_order['user_id'])

In [33]:
len(test_user_id_list)

75000

In [34]:
test_product_num = sum([len(item_user_reordered_idx[i].index) for i in test_user_id_list])

In [35]:
test_data = np.zeros((test_product_num, n_feature))

In [36]:
test_order_ix = test_order.ix

In [37]:
test_order_index = list(test_order.index)

In [38]:
test_order.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
38,2774568,3,test,13,5,15,11.0
44,329954,4,test,6,3,12,30.0
53,1528013,6,test,4,3,16,22.0
96,1376945,11,test,8,6,11,8.0
102,1356845,12,test,6,1,20,30.0

In [40]:
test_data.shape[0]

4833292

In [41]:
import time
a1 = time.time()

idx = 0
user_id_idx = 0
while idx < test_data.shape[0]:
    try:
        if (user_id_idx + 1) % 100 == 0:
            print "test", user_id_idx
            
        item = test_order_ix[test_order_index[user_id_idx]]
        user_id_idx += 1
        order_id = item['order_id']
        user_id = item['user_id']
        order_dow = item['order_dow']
        order_hour_of_day = item['order_hour_of_day']
        days_since_prior_order = item['days_since_prior_order']
        
        product_id_list = list(item_user_reordered_idx[user_id].index)
        
        for product_id in product_id_list:
            if (idx + 1) % 10000 == 0:
                print "finish:", 100 * float(idx) / test_data.shape[0], product_id
                a2 = time.time()
                print "time_passed", int(a2 - a1)
            
            idx += 1
            f_user_dow = [user_order_dow_cnt_idx.get((user_id, dow), 0) for dow in xrange(7)]
            f_user_hour = [user_hour_cnt_idx.get((user_id, hour), 0) for hour in xrange(24)]
            f_user_day_pass = user_day_pass_cnt_idx.get(user_id, 0)
            f_user_order_cnt = user_order_cnt_idx.get(user_id, 0)

            f_aisle = new_product_idx['aisle_id'][product_id]
            f_department = new_product_idx['department_id'][product_id]

            f_product_order_cnt = item_reorder_cnt_idx.get(product_id, 0)

            f_product_dow = [item_order_dow_cnt_idx.get((product_id, dow), 0) for dow in xrange(7)]
            f_product_hour = [item_hour_cnt_idx.get((product_id, hour), 0) for hour in xrange(24)]
            f_product_day_pass = item_day_pass_cnt_idx.get(product_id, 0)

            ax1 = time.time()
            product_id_list = item_user_reordered_idx[user_id].index
            f_item_user_reordered = item_user_reordered_idx[(user_id, product_id)] if product_id in product_id_list else 0
            product_id_list = item_user_day_pass_idx[user_id].index
            f_item_user_day_pass = item_user_day_pass_idx[(user_id, product_id)] if product_id in product_id_list else 0

            item_info = []
            item_info.append(f_user_day_pass)
            item_info.extend(f_user_dow)
            item_info.extend(f_user_hour)
            item_info.append(f_user_order_cnt)

            item_info.append(f_aisle)
            item_info.append(f_department)
            item_info.append(f_product_order_cnt)
            item_info.extend(f_product_dow)
            item_info.extend(f_product_hour)
            item_info.append(f_product_day_pass)

            item_info.append(f_item_user_reordered)
            item_info.append(f_item_user_day_pass)

            item_info.append(order_dow)
            item_info.append(order_hour_of_day)
            item_info.append(days_since_prior_order)

            test_data[idx] = item_info
    except:
        test_data[idx] = [0 for x in xrange(n_feature)]
        print "failed test_data idx:", idx

test 99
finish: 0.206877631229 22242
time_passed 30
test 199
test 299
finish: 0.413775952291 34134
time_passed 38
test 399
finish: 0.620674273352 22035
time_passed 46
test 499
test 599
finish: 0.827572594414 45723
time_passed 54
test 699
finish: 1.03447091548 8518
time_passed 62
test 799
test 899
finish: 1.24136923654 5097
time_passed 70
test 999
finish: 1.4482675576 23740
time_passed 79
test 1099
test 1199
finish: 1.65516587866 9558
time_passed 89
test 1299
test 1399
finish: 1.86206419972 8744
time_passed 98
test 1499
finish: 2.06896252078 20590
time_passed 108
test 1599
test 1699
finish: 2.27586084184 21938
time_passed 117
test 1799
finish: 2.48275916291 21288
time_passed 126
test 1899
finish: 2.68965748397 39108
time_passed 135
test 1999
test 2099
finish: 2.89655580503 8223
time_passed 144
test 2199
test 2299
finish: 3.10345412609 20082
time_passed 153
test 2399
finish: 3.31035244715 43987
time_passed 162
test 2499
test 2599
finish: 3.51725076821 19660
time_passed 171
test 2699
test 2799
finish: 3.72414908927 10673
time_passed 179
test 2899
finish: 3.93104741034 30307
time_passed 188
test 2999
test 3099
finish: 4.1379457314 12980
time_passed 197
test 3199
test 3299
finish: 4.34484405246 37158
time_passed 206
test 3399
finish: 4.55174237352 23951
time_passed 215
test 3499
test 3599
finish: 4.75864069458 7562
time_passed 224
test 3699
finish: 4.96553901564 7533
time_passed 230
test 3799
test 3899
finish: 5.17243733671 10690
time_passed 239
test 3999
test 4099
finish: 5.37933565777 5490
time_passed 248
test 4199
finish: 5.58623397883 32201
time_passed 256
test 4299
test 4399
finish: 5.79313229989 14197
time_passed 265
test 4499
test 4599
finish: 6.00003062095 19677
time_passed 273
test 4699
finish: 6.20692894201 32299
time_passed 282
test 4799
finish: 6.41382726307 28851
time_passed 291
test 4899
test 4999
finish: 6.62072558414 35167
time_passed 300
test 5099
test 5199
finish: 6.8276239052 33768
time_passed 310
test 5299
finish: 7.03452222626 24107
time_passed 319
test 5399
finish: 7.24142054732 33439
time_passed 328
test 5499
test 5599
finish: 7.44831886838 22247
time_passed 337
test 5699
finish: 7.65521718944 48745
time_passed 346
test 5799
test 5899
finish: 7.86211551051 48182
time_passed 355
test 5999
finish: 8.06901383157 38456
time_passed 364
test 6099
test 6199
finish: 8.27591215263 27102
time_passed 373
test 6299
finish: 8.48281047369 25146
time_passed 382
test 6399
test 6499
finish: 8.68970879475 32854
time_passed 391
test 6599
test 6699
finish: 8.89660711581 22395
time_passed 400
test 6799
test 6899
finish: 9.10350543687 13944
time_passed 409
test 6999
finish: 9.31040375794 30589
time_passed 418
test 7099
test 7199
finish: 9.517302079 39275
time_passed 427
test 7299
test 7399
finish: 9.72420040006 42736
time_passed 436
test 7499
finish: 9.93109872112 27966
time_passed 445
test 7599
test 7699
finish: 10.1379970422 42617
time_passed 454
test 7799
finish: 10.3448953632 29274
time_passed 463
test 7899
finish: 10.5517936843 13128
time_passed 472
test 7999
test 8099
finish: 10.7586920054 39363
time_passed 481
test 8199
finish: 10.9655903264 18288
time_passed 490
test 8299
test 8399
finish: 11.1724886475 33642
time_passed 499
test 8499
finish: 11.3793869686 43320
time_passed 509
test 8599
test 8699
finish: 11.5862852896 17316
time_passed 518
test 8799
test 8899
finish: 11.7931836107 39966
time_passed 527
test 8999
finish: 12.0000819317 4796
time_passed 536
test 9099
test 9199
finish: 12.2069802528 9839
time_passed 545
test 9299
finish: 12.4138785739 23165
time_passed 554
test 9399
test 9499
finish: 12.6207768949 23821
time_passed 563
test 9599
finish: 12.827675216 6533
time_passed 572
test 9699
test 9799
finish: 13.034573537 21295
time_passed 581
test 9899
test 9999
finish: 13.2414718581 7116
time_passed 590
test 10099
finish: 13.4483701792 17794
time_passed 599
test 10199
test 10299
finish: 13.6552685002 22142
time_passed 609
test 10399
finish: 13.8621668213 30406
time_passed 618
test 10499
test 10599
finish: 14.0690651424 14133
time_passed 627
test 10699
test 10799
finish: 14.2759634634 4920
time_passed 636
test 10899
finish: 14.4828617845 8200
time_passed 645
test 10999
test 11099
finish: 14.6897601055 11421
time_passed 654
test 11199
finish: 14.8966584266 42240
time_passed 663
test 11299
test 11399
finish: 15.1035567477 21573
time_passed 672
test 11499
finish: 15.3104550687 605
time_passed 682
test 11599
test 11699
finish: 15.5173533898 21543
time_passed 691
test 11799
test 11899
finish: 15.7242517108 13525
time_passed 700
test 11999
finish: 15.9311500319 18891
time_passed 709
test 12099
test 12199
finish: 16.138048353 41220
time_passed 718
test 12299
finish: 16.344946674 18594
time_passed 727
test 12399
test 12499
finish: 16.5518449951 7781
time_passed 736
test 12599
test 12699
finish: 16.7587433161 27104
time_passed 746
test 12799
finish: 16.9656416372 35887
time_passed 755
test 12899
finish: 17.1725399583 2611
time_passed 764
test 12999
test 13099
finish: 17.3794382793 43295
time_passed 773
test 13199
finish: 17.5863366004 36034
time_passed 782
test 13299
test 13399
finish: 17.7932349215 31371
time_passed 791
test 13499
test 13599
finish: 18.0001332425 13646
time_passed 800
test 13699
finish: 18.2070315636 25890
time_passed 809
test 13799
test 13899
finish: 18.4139298846 1559
time_passed 819
test 13999
finish: 18.6208282057 432
time_passed 828
test 14099
test 14199
finish: 18.8277265268 49131
time_passed 836
test 14299
finish: 19.0346248478 15290
time_passed 845
test 14399
test 14499
finish: 19.2415231689 21019
time_passed 854
test 14599
finish: 19.4484214899 3464
time_passed 863
test 14699
test 14799
finish: 19.655319811 728
time_passed 872
test 14899
finish: 19.8622181321 19019
time_passed 881
test 14999
test 15099
finish: 20.0691164531 31122
time_passed 890
test 15199
finish: 20.2760147742 30391
time_passed 899
test 15299
test 15399
finish: 20.4829130953 30057
time_passed 908
test 15499
finish: 20.6898114163 38689
time_passed 917
test 15599
test 15699
finish: 20.8967097374 23296
time_passed 927
test 15799
finish: 21.1036080584 45646
time_passed 936
test 15899
test 15999
finish: 21.3105063795 26706
time_passed 945
test 16099
finish: 21.5174047006 48086
time_passed 954
test 16199
test 16299
finish: 21.7243030216 41950
time_passed 963
test 16399
finish: 21.9312013427 12403
time_passed 972
test 16499
test 16599
finish: 22.1380996637 23375
time_passed 982
test 16699
finish: 22.3449979848 28528
time_passed 991
test 16799
test 16899
finish: 22.5518963059 27086
time_passed 999
test 16999
finish: 22.7587946269 5912
time_passed 1009
test 17099
test 17199
finish: 22.965692948 37040
time_passed 1018
test 17299
finish: 23.1725912691 43692
time_passed 1027
test 17399
test 17499
finish: 23.3794895901 21512
time_passed 1036
test 17599
finish: 23.5863879112 15633
time_passed 1045
test 17699
test 17799
finish: 23.7932862322 26769
time_passed 1054
test 17899
finish: 24.0001845533 12974
time_passed 1065
test 17999
test 18099
finish: 24.2070828744 26351
time_passed 1074
test 18199
finish: 24.4139811954 22556
time_passed 1083
test 18299
test 18399
finish: 24.6208795165 15945
time_passed 1093
test 18499
test 18599
finish: 24.8277778375 28464
time_passed 1102
test 18699
finish: 25.0346761586 43644
time_passed 1111
test 18799
test 18899
finish: 25.2415744797 11081
time_passed 1120
test 18999
test 19099
finish: 25.4484728007 40454
time_passed 1128
test 19199
finish: 25.6553711218 10060
time_passed 1136
test 19299
test 19399
finish: 25.8622694429 29307
time_passed 1144
test 19499
finish: 26.0691677639 27415
time_passed 1152
test 19599
test 19699
finish: 26.276066085 44514
time_passed 1160
test 19799
finish: 26.482964406 9839
time_passed 1168
test 19899
test 19999
finish: 26.6898627271 24891
time_passed 1176
test 20099
finish: 26.8967610482 20302
time_passed 1184
test 20199
test 20299
finish: 27.1036593692 31772
time_passed 1193
test 20399
finish: 27.3105576903 25926
time_passed 1201
test 20499
test 20599
finish: 27.5174560113 45007
time_passed 1209
test 20699
finish: 27.7243543324 37158
time_passed 1217
test 20799
test 20899
finish: 27.9312526535 29565
time_passed 1225
test 20999
test 21099
finish: 28.1381509745 23909
time_passed 1233
test 21199
finish: 28.3450492956 34584
time_passed 1241
test 21299
test 21399
finish: 28.5519476167 34126
time_passed 1249
test 21499
test 21599
finish: 28.7588459377 27845
time_passed 1257
test 21699
finish: 28.9657442588 21903
time_passed 1265
test 21799
test 21899
finish: 29.1726425798 41787
time_passed 1273
test 21999
finish: 29.3795409009 1330
time_passed 1281
test 22099
test 22199
finish: 29.586439222 20345
time_passed 1289
test 22299
finish: 29.793337543 45185
time_passed 1297
test 22399
test 22499
finish: 30.0002358641 46516
time_passed 1305
test 22599
test 22699
finish: 30.2071341851 42265
time_passed 1313
test 22799
finish: 30.4140325062 45544
time_passed 1321
test 22899
test 22999
finish: 30.6209308273 26209
time_passed 1329
test 23099
finish: 30.8278291483 41844
time_passed 1338
test 23199
test 23299
finish: 31.0347274694 33731
time_passed 1346
test 23399
finish: 31.2416257905 49683
time_passed 1354
test 23499
test 23599
finish: 31.4485241115 18362
time_passed 1362
test 23699
test 23799
finish: 31.6554224326 24830
time_passed 1370
test 23899
finish: 31.8623207536 44278
time_passed 1378
test 23999
test 24099
finish: 32.0692190747 26124
time_passed 1386
test 24199
finish: 32.2761173958 17703
time_passed 1394
test 24299
test 24399
finish: 32.4830157168 21903
time_passed 1402
test 24499
finish: 32.6899140379 36962
time_passed 1410
test 24599
test 24699
finish: 32.8968123589 36621
time_passed 1419
test 24799
finish: 33.10371068 5450
time_passed 1427
test 24899
test 24999
finish: 33.3106090011 41618
time_passed 1435
test 25099
finish: 33.5175073221 49235
time_passed 1443
test 25199
test 25299
finish: 33.7244056432 27241
time_passed 1451
test 25399
test 25499
finish: 33.9313039643 39812
time_passed 1459
test 25599
finish: 34.1382022853 46069
time_passed 1468
test 25699
test 25799
finish: 34.3451006064 44234
time_passed 1476
test 25899
finish: 34.5519989274 26629
time_passed 1484
test 25999
test 26099
finish: 34.7588972485 27104
time_passed 1492
test 26199
test 26299
finish: 34.9657955696 34311
time_passed 1500
test 26399
finish: 35.1726938906 23339
time_passed 1508
test 26499
test 26599
finish: 35.3795922117 34429
time_passed 1517
test 26699
finish: 35.5864905327 21137
time_passed 1525
test 26799
finish: 35.7933888538 15134
time_passed 1533
test 26899
test 26999
finish: 36.0002871749 8518
time_passed 1541
test 27099
finish: 36.2071854959 605
time_passed 1549
test 27199
test 27299
finish: 36.414083817 3397
time_passed 1558
test 27399
test 27499
finish: 36.6209821381 28985
time_passed 1566
test 27599
finish: 36.8278804591 33706
time_passed 1574
test 27699
test 27799
finish: 37.0347787802 2361
time_passed 1582
test 27899
finish: 37.2416771012 13549
time_passed 1590
test 27999
finish: 37.4485754223 19895
time_passed 1598
test 28099
test 28199
finish: 37.6554737434 40706
time_passed 1607
test 28299
finish: 37.8623720644 13807
time_passed 1615
test 28399
test 28499
finish: 38.0692703855 46979
time_passed 1623
test 28599
test 28699
finish: 38.2761687065 21607
time_passed 1631
test 28799
finish: 38.4830670276 46654
time_passed 1639
test 28899
test 28999
finish: 38.6899653487 16969
time_passed 1647
test 29099
finish: 38.8968636697 27086
time_passed 1655
test 29199
test 29299
finish: 39.1037619908 44683
time_passed 1663
test 29399
finish: 39.3106603119 21057
time_passed 1671
test 29499
test 29599
finish: 39.5175586329 31730
time_passed 1680
test 29699
finish: 39.724456954 1744
time_passed 1688
test 29799
test 29899
finish: 39.931355275 44270
time_passed 1696
test 29999
finish: 40.1382535961 7751
time_passed 1704
test 30099
test 30199
finish: 40.3451519172 45066
time_passed 1712
test 30299
finish: 40.5520502382 27999
time_passed 1720
test 30399
test 30499
finish: 40.7589485593 4137
time_passed 1728
test 30599
test 30699
finish: 40.9658468803 49401
time_passed 1736
test 30799
finish: 41.1727452014 13446
time_passed 1744
test 30899
test 30999
finish: 41.3796435225 21386
time_passed 1753
test 31099
finish: 41.5865418435 29506
time_passed 1761
test 31199
test 31299
finish: 41.7934401646 40604
time_passed 1769
test 31399
finish: 42.0003384857 45010
time_passed 1777
test 31499
test 31599
finish: 42.2072368067 31020
time_passed 1785
test 31699
finish: 42.4141351278 6269
time_passed 1793
test 31799
test 31899
finish: 42.6210334488 24184
time_passed 1801
test 31999
test 32099
finish: 42.8279317699 47601
time_passed 1810
test 32199
finish: 43.034830091 9623
time_passed 1818
test 32299
test 32399
finish: 43.241728412 17400
time_passed 1827
test 32499
finish: 43.4486267331 11865
time_passed 1835
test 32599
test 32699
finish: 43.6555250541 10545
time_passed 1843
test 32799
finish: 43.8624233752 21137
time_passed 1851
test 32899
test 32999
finish: 44.0693216963 42625
time_passed 1859
test 33099
finish: 44.2762200173 2966
time_passed 1867
test 33199
test 33299
finish: 44.4831183384 41480
time_passed 1875
test 33399
finish: 44.6900166595 15599
time_passed 1883
test 33499
test 33599
finish: 44.8969149805 42736
time_passed 1891
test 33699
finish: 45.1038133016 7952
time_passed 1900
test 33799
test 33899
finish: 45.3107116226 19508
time_passed 1908
test 33999
test 34099
finish: 45.5176099437 1468
time_passed 1916
test 34199
finish: 45.7245082648 15200
time_passed 1924
test 34299
test 34399
finish: 45.9314065858 47630
time_passed 1932
test 34499
finish: 46.1383049069 48364
time_passed 1940
test 34599
test 34699
finish: 46.3452032279 44479
time_passed 1948
test 34799
finish: 46.552101549 18413
time_passed 1956
test 34899
test 34999
finish: 46.7589998701 39928
time_passed 1964
test 35099
finish: 46.9658981911 42215
time_passed 1972
test 35199
test 35299
finish: 47.1727965122 44632
time_passed 1980
test 35399
finish: 47.3796948333 16145
time_passed 1988
test 35499
test 35599
finish: 47.5865931543 47766
time_passed 1997
test 35699
finish: 47.7934914754 27509
time_passed 2005
test 35799
test 35899
finish: 48.0003897964 3782
time_passed 2013
test 35999
test 36099
finish: 48.2072881175 19511
time_passed 2021
test 36199
finish: 48.4141864386 44142
time_passed 2029
test 36299
test 36399
finish: 48.6210847596 18385
time_passed 2037
test 36499
finish: 48.8279830807 5883
time_passed 2045
test 36599
test 36699
finish: 49.0348814017 2361
time_passed 2053
test 36799
finish: 49.2417797228 28601
time_passed 2061
test 36899
test 36999
finish: 49.4486780439 19678
time_passed 2069
test 37099
finish: 49.6555763649 36735
time_passed 2077
test 37199
test 37299
finish: 49.862474686 21403
time_passed 2086
test 37399
test 37499
finish: 50.0693730071 27966
time_passed 2094
test 37599
finish: 50.2762713281 34005
time_passed 2102
test 37699
test 37799
finish: 50.4831696492 31343
time_passed 2110
test 37899
finish: 50.6900679702 15159
time_passed 2118
test 37999
test 38099
finish: 50.8969662913 12409
time_passed 2126
test 38199
finish: 51.1038646124 47630
time_passed 2134
test 38299
test 38399
finish: 51.3107629334 41950
time_passed 2142
test 38499
finish: 51.5176612545 29943
time_passed 2150
test 38599
test 38699
finish: 51.7245595755 44359
time_passed 2158
test 38799
finish: 51.9314578966 15649
time_passed 2167
test 38899
test 38999
finish: 52.1383562177 26604
time_passed 2175
test 39099
test 39199
finish: 52.3452545387 24336
time_passed 2183
test 39299
finish: 52.5521528598 10498
time_passed 2191
test 39399
test 39499
finish: 52.7590511809 5460
time_passed 2199
test 39599
finish: 52.9659495019 6999
time_passed 2207
test 39699
test 39799
finish: 53.172847823 45447
time_passed 2215
test 39899
finish: 53.379746144 1463
time_passed 2223
test 39999
test 40099
finish: 53.5866444651 17553
time_passed 2231
test 40199
finish: 53.7935427862 45200
time_passed 2239
test 40299
test 40399
finish: 54.0004411072 40490
time_passed 2247
test 40499
test 40599
finish: 54.2073394283 46764
time_passed 2256
test 40699
finish: 54.4142377493 37718
time_passed 2264
test 40799
test 40899
finish: 54.6211360704 8467
time_passed 2272
test 40999
finish: 54.8280343915 46906
time_passed 2280
test 41099
test 41199
finish: 55.0349327125 30391
time_passed 2288
test 41299
finish: 55.2418310336 21621
time_passed 2296
test 41399
test 41499
finish: 55.4487293547 27966
time_passed 2304
test 41599
test 41699
finish: 55.6556276757 18346
time_passed 2312
test 41799
finish: 55.8625259968 42431
time_passed 2320
test 41899
test 41999
finish: 56.0694243178 3840
time_passed 2328
test 42099
finish: 56.2763226389 16696
time_passed 2336
test 42199
test 42299
finish: 56.48322096 30365
time_passed 2344
test 42399
test 42499
finish: 56.690119281 46522
time_passed 2352
test 42599
finish: 56.8970176021 31981
time_passed 2361
test 42699
finish: 57.1039159231 10880
time_passed 2369
test 42799
test 42899
finish: 57.3108142442 30720
time_passed 2377
test 42999
test 43099
finish: 57.5177125653 42342
time_passed 2385
test 43199
finish: 57.7246108863 20590
time_passed 2393
test 43299
test 43399
finish: 57.9315092074 26569
time_passed 2401
test 43499
finish: 58.1384075285 19006
time_passed 2409
test 43599
test 43699
finish: 58.3453058495 30500
time_passed 2417
test 43799
finish: 58.5522041706 6046
time_passed 2425
test 43899
test 43999
finish: 58.7591024916 15038
time_passed 2433
test 44099
finish: 58.9660008127 9927
time_passed 2441
test 44199
test 44299
finish: 59.1728991338 14809
time_passed 2449
test 44399
test 44499
finish: 59.3797974548 45842
time_passed 2457
test 44599
finish: 59.5866957759 38847
time_passed 2465
test 44699
test 44799
finish: 59.7935940969 16616
time_passed 2473
test 44899
test 44999
finish: 60.000492418 17333
time_passed 2482
test 45099
finish: 60.2073907391 9839
time_passed 2490
test 45199
test 45299
finish: 60.4142890601 1360
time_passed 2498
test 45399
finish: 60.6211873812 35898
time_passed 2506
test 45499
test 45599
finish: 60.8280857023 29117
time_passed 2514
test 45699
test 45799
finish: 61.0349840233 20938
time_passed 2522
test 45899
finish: 61.2418823444 16993
time_passed 2530
test 45999
test 46099
finish: 61.4487806654 9337
time_passed 2538
test 46199
finish: 61.6556789865 8174
time_passed 2546
test 46299
test 46399
finish: 61.8625773076 5876
time_passed 2554
test 46499
finish: 62.0694756286 8518
time_passed 2562
test 46599
test 46699
finish: 62.2763739497 15424
time_passed 2570
test 46799
test 46899
finish: 62.4832722707 34281
time_passed 2579
test 46999
finish: 62.6901705918 21938
time_passed 2587
test 47099
test 47199
finish: 62.8970689129 45615
time_passed 2595
test 47299
test 47399
finish: 63.1039672339 23734
time_passed 2603
test 47499
finish: 63.310865555 32548
time_passed 2611
test 47599
test 47699
finish: 63.517763876 30471
time_passed 2619
test 47799
finish: 63.7246621971 5315
time_passed 2627
test 47899
test 47999
finish: 63.9315605182 48464
time_passed 2635
test 48099
finish: 64.1384588392 39560
time_passed 2643
test 48199
test 48299
finish: 64.3453571603 1463
time_passed 2652
test 48399
test 48499
finish: 64.5522554814 26052
time_passed 2660
test 48599
finish: 64.7591538024 46692
time_passed 2668
test 48699
test 48799
finish: 64.9660521235 7408
time_passed 2676
test 48899
finish: 65.1729504445 26512
time_passed 2684
test 48999
finish: 65.3798487656 39561
time_passed 2692
test 49099
test 49199
finish: 65.5867470867 12993
time_passed 2700
test 49299
finish: 65.7936454077 16185
time_passed 2708
test 49399
test 49499
finish: 66.0005437288 22247
time_passed 2717
test 49599
finish: 66.2074420498 8587
time_passed 2726
test 49699
test 49799
finish: 66.4143403709 7886
time_passed 2734
test 49899
finish: 66.621238692 9324
time_passed 2742
test 49999
test 50099
finish: 66.828137013 4605
time_passed 2750
test 50199
test 50299
finish: 67.0350353341 13176
time_passed 2758
test 50399
finish: 67.2419336552 46087
time_passed 2766
test 50499
test 50599
finish: 67.4488319762 47226
time_passed 2774
test 50699
finish: 67.6557302973 3376
time_passed 2782
test 50799
test 50899

IndexError: index 4833292 is out of bounds for axis 0 with size 4833292

In [48]:
test_X = pd.DataFrame(test_data, columns=columns)
test_out_csv_file = DATA_PATH + "test_X.csv"
test_X.to_csv(test_out_csv_file)